<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Network security behavioural analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse" >
                <ul class="nav navbar-nav">
                    <li><a href="/"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a></li>
                    <li><a href="/alerts"> <i class="menu-icon fa fa-exclamation"></i>Alerts </a></li>
                    <h3 class="menu-title">Network Behaviour</h3>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bars"></i>General</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-line-chart"></i><a href="/general/network_activity">Netowrk activity</a></li>
                            <li><i class="fa fa-arrow-left"></i><a href="/general/popular_destinations">Popular Destinations</a></li>
                            <li><i class="fa fa-arrow-right"></i><a href="/general/popular_sources">Popular Sources</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bars"></i>Layer 4</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-area-chart"></i><a href="/layer4/overall_traffic">Overall traffic</a></li>
                            <li><i class="fa fa-th-list"></i><a href="/layer4/tcp">TCP</a></li>
                            <li><i class="fa fa-th-list"></i><a href="/layer4/udp">UDP</a></li>
                            <li><i class="fa fa-th-list"></i><a href="/layer4/icmp">ICMP</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bars"></i>Layer 3</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-area-chart"></i><a href="/layer3/overall_traffic">Overall traffic</a></li>
                            <li><i class="fa fa-th-list"></i><a href="/layer3/ip">IP</a></li>
                            <li><i class="fa fa-th-list"></i><a href="/layer3/other">Other</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bars"></i>Layer 2</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-area-chart"></i><a href="/layer2/overall_traffic">Overall traffic</a></li>
                        </ul>
                    </li>

                    <h3 class="menu-title">Computer Behaviour</h3>
                    <li><a href="/computer/aliases"> <i class="menu-icon fa fa-edit"></i>Aliases </a></li>
                    <li><a href="/computer/most_visited"> <i class="menu-icon fa fa-list"></i>Most visited </a></li>
                    <li><a href="/computer/geolocations"> <i class="menu-icon fa fa-globe"></i>Geolocations </a></li>
                    <li><a href="/computer/protocols"> <i class="menu-icon fa fa-indent"></i>Protocols </a></li>
                    <li><a href="/computer/active_use_times"> <i class="menu-icon fa fa-power-off"></i>Active use times </a></li>

                    <h3 class="menu-title">Proposed rules</h3>
                    <li><a href="/rules/iptables"> <i class="menu-icon fa fa-fire"></i>iptables </a></li>

                    <h3 class="menu-title">Analyzed targets</h3>
                    <li><a href="/analyzed_targets/website_security_rate"> <i class="menu-icon fa fa-user-secret"></i>Website security rate</a></li>
                    <li><a href="/analyzed_targets/blocked_ip"> <i class="menu-icon fa fa-ban"></i>Blocked IP</a></li>
                    <li><a href="/analyzed_targets/blocked_domains"> <i class="menu-icon fa fa-ban"></i>Blocked domains</a></li>
                    <li><a href="/analyzed_targets/geolocation"> <i class="menu-icon fa fa-globe"></i>Geolocation</a></li>

                    <h3 class="menu-title">Settings</h3>
                    <li><a href="/settings/zones"> <i class="menu-icon fa fa-delicious"></i>Zones</a></li>
                    <li><a href="/settings/websites"> <i class="menu-icon fa fa-chrome"></i>Websites</a></li>
                    <li><a href="/settings/scanning"> <i class="menu-icon fa fa-search"></i>Scanning</a></li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-reply"></i>Notifications</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-envelope"></i><a href="/settings/email">Email</a></li>
                        </ul>
                    </li>
                    <li><a href="/settings/web_panel"> <i class="menu-icon fa fa-cogs"></i>Web panel</a></li>
                </ul>
            </div>
        </nav>
    </aside>

    <div id="right-panel" class="right-panel">
        <header id="header" class="header">
            <div class="header-menu">
                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                </div>
                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            admin
                        </a>
                        <div class="user-menu dropdown-menu">
                                <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>
                                <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/vendor/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/widgets.js') }}"></script>
</body>
</html>
