{% extends "layout.html" %}
{% block content %}

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Notification emails</h1>
                    </div>
                </div>
            </div>
        </div>

      <form method="post" action="#">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-header">
                  <strong class="card-title">E-mail settings</strong>
              </div>
                <div class="card-body card-block">
                  <div class="form-group">
                    <label class="form-control-label" for="username">Sender:</label>
                    <input id="sender" name="sender" class="form-control" value="nbad@example.org" type="text" />
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" for="password1">Recipient:</label>
                    <input id="recipient" name="recipient" class="form-control" value="user@example.org" type="text" />
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" for="address">Server address:</label>
                    <input id="address" name="address" class="form-control" value="smtp.example.org" type="text" />
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" for="port">Port:</label>
                    <input id="port" name="port" class="form-control" value="25" type="text" />
                  </div>
                </div>
          </div>
      </div>
      
      <div class="col-lg-12">
          <div class="card">
                <div>
                    <button id="save" type="submit" class="btn btn-lg btn-info btn-block">
                        <span>Zapisz</span>
                    </button>
                </div>
          </div>
      </div>

      </form>

{% endblock %}