{% extends "layout.html" %}
{% block content %}

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Web panel settings</h1>
                    </div>
                </div>
            </div>
        </div>

        <form method="post" action="#">
        <div class="col-lg-6">
          <div class="card">
              <div class="card-header">
                  <strong class="card-title">Panel settings</strong>
              </div>
                <div class="card-body card-block">
                  <div class="form-group">
                    <label class="form-control-label" for="port">Port:</label>
                    <input id="port" name="port" class="form-control" placeholder="" type="text" />
                  </div>
                </div>
          </div>
      </div>
      
              <div class="col-lg-6">
          <div class="card">
              <div class="card-header">
                  <strong class="card-title">User settings</strong>
              </div>
                <div class="card-body card-block">
                  <div class="form-group">
                    <label class="form-control-label" for="username">Username:</label>
                    <input id="username" name="username" class="form-control" placeholder="" type="text" />
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" for="password1">Password:</label>
                    <input id="password1" name="password1" class="form-control" placeholder="" type="password" />
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" for="password2">Password confirmation:</label>
                    <input id="password2" name="password2" class="form-control" placeholder="" type="password" />
                  </div>
                </div>
          </div>
      </div>
      
      </form>

{% endblock %}