{% extends "layout.html" %}
{% block content %}

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Layer 2 overall traffic</h1>
                    </div>
                </div>
            </div>
        </div>

      <form method="post" action="#">

      <div class="col-lg-12">
          <div class="card">
              <div class="card-header">
                  <strong class="card-title">Filter</strong>
              </div>
                <div class="card-body card-block">
                  <div class="form-group">
                    <label class="form-control-label" for="from">From:</label>
                    <input id="from" name="from" class="form-control" value="2018-06-07 12:51:54" type="text" />
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" for="password1">To:</label>
                    <input id="to" name="to" class="form-control" type="text" value="2018-06-07 12:53:23"/>
                  </div>
                </div>
          </div>
      </div>
      
      <div class="col-lg-12">
          <div class="card">
                <div>
                    <button id="save" type="submit" class="btn btn-lg btn-info btn-block">
                        <span>Filter</span>
                    </button>
                </div>
          </div>
      </div>

      </form>



        <div class="col-lg-12">
          <div class="card">
              <div class="card-header">
                  <strong class="card-title">Layer 2 traffic in last 24h</strong>
              </div>
              <div class="card-body">
                <center>
                    <img src="{{ url_for('static', filename=l2_traffic) }}" width="60%"/>
                </center>
              </div>
          </div>
      </div>
      
      <div class="col-lg-12">
          <div class="card">
              <div class="card-header">
                  <strong class="card-title">Layer 2 frames in last 24h</strong>
              </div>
              <div class="card-body">
                <center>
                    <img src="{{ url_for('static', filename=l2_frames) }}" width="60%"/>
                </center>
              </div>
          </div>
      </div>


{% endblock %}