{% extends "layout.html" %}
{% block content %}

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Alerts</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
          <div class="card">
              <div class="card-header">
                  <strong class="card-title">Last alerts</strong>
              </div>
              <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Date - Time</th>
                        <th scope="col">Description</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>2018-02-21 08:20:21</td>
                        <td>Unusual traffic from 10.0.0.3</td>
                        <td>70%</td>
                        <td>
                            <a type="button" class="btn btn-primary" href="#">View more</a>
                            <a type="button" class="btn btn-danger" href="#">Delete</a>
                        </td>
                      </tr>
                      <tr>
                        <td>2018-02-21 08:19:23</td>
                        <td>Difference between TCP-SYN and TCP-ACK. Possible SYN-flood/port scan</td>
                        <td>90%</td>
                        <td>
                            <a type="button" class="btn btn-primary" href="#">View more</a>
                            <a type="button" class="btn btn-danger" href="#">Delete</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
      </div>
      

{% endblock %}